* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green-transparent: #f7f9f9;
    --green-transparent-hover-1: #00453a26;
    --green-transparent-hover-2: #00453a80;
    --light-green: #dce9e2;
    --green: #00856f;
    --green-hover-1: #00967f;
    --green-hover-2: #00453a;

    --white: #fff;
    --beige: #fffaf1;
    --dark: #061800;
    --gray: #384633;

    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    background-color: var(--green-transparent);
}

body.lock-scroll {
    overflow: hidden;
    height: 100%;
}

.back-to-top-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 4;

    opacity: 0;
    visibility: hidden;
    
    padding: 0.5rem;
    background-color: var(--green);

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    border: 2px solid var(--dark);

    transform: translateY(100%);
    transition: background 0.3s, transform 0.3s, opacity 0.3s, visibility 0.3s;
}

.back-to-top-button.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}

.back-to-top-button:focus {
    border: 2px solid var(--white);
    background-color: var(--green-hover-2);
    outline: none;
}

.back-to-top-button img {
    width: 2.5rem;
    height: 2.5rem;
}

@media(max-width: 375px) {
    .back-to-top-button img {
        width: 2rem;
        height: 2rem;
    }
}