#testimonials {
    padding: 8rem 0 15rem 0;
    background-color: var(--white);
}

#testimonials .container {
    padding: 0 1.5rem;
    position: relative;
}

#testimonials .container .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 3rem;
}

#testimonials .container .text h4 {
    color: var(--green);
    font-size: 1.25rem;
}

#testimonials .container .text h2 {
    font-size: 2.5rem;
    color: var(--dark);
    padding: 0 1rem;
}

#testimonials .container .text h2 span {
    font-weight: 400;
}

#testimonials .container .text h2 span > span {
    font-weight: 700;
    color: var(--green);
}

.swiper {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.swiper .swiper-wrapper .swiper-slide {
   padding: 1rem;
}

.swiper .swiper-wrapper .swiper-slide .testimonial-card {
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    box-shadow: 0px 0px 12px rgb(0 0 0 / 25%);
}

.swiper .swiper-wrapper .swiper-slide .testimonial-card:focus {
    outline: 2px solid var(--green);
}

.swiper .swiper-wrapper .swiper-slide .testimonial-card p {
    position: relative;
    text-indent: 2.5rem;
    line-height: 2.5rem;
    color: var(--dark);
}

.swiper .swiper-wrapper .swiper-slide .testimonial-card p .quote {
    font: 5rem serif;
    color: var(--green);

    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
}

.swiper .swiper-wrapper .swiper-slide .testimonial-card .user-feedback {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.swiper .swiper-wrapper .swiper-slide .testimonial-card .user-feedback img {
    border-radius: 50%;
    width: 5rem;
}

.swiper .swiper-wrapper .swiper-slide .testimonial-card .user-feedback .user-name {
    font-style: normal;
    font-weight: 700;
    color: var(--dark);
}

.swiper .swiper-pagination {
    position: relative;
    padding: 0.875rem;
    border-radius: 0.5rem;
    width: fit-content;
}

.swiper .swiper-pagination:focus {
    outline: 2px solid var(--green);
    background-color: var(--light-green);
}

.swiper .swiper-pagination:focus .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--green);
}

#testimonials .container .brands {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}

#testimonials .container .brands h4 {
    font-size: 1.875rem;
    color: var(--dark);
    width: 75%;
}

#testimonials .container .brands .brands-img {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
}

#testimonials .container .brands .brands-img img {
    width: 12rem;
    height: 2.5rem;
}

#testimonials .container .schedule-container {
    background-color: var(--green);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;

    position: absolute;
    bottom: -25rem;
    left: 3rem;
    right: 3rem;

    border-radius: 0.5rem;
}

#testimonials .container .schedule-container h2 {
    font-size: 1.875rem;
    color: var(--white);
    text-align: center;
}

#testimonials .container .schedule-container .schedule-button {
    background-color: var(--white);
    padding: 0.875rem 1rem;
    border-radius: 2.5rem;
    width: fit-content;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--green);

    transition: background 0.3s, transform 0.3s;
}

#testimonials .container .schedule-container .schedule-button:hover {
    background-color: var(--light-green);
    transform: translateY(-5px);
}

#testimonials .container .schedule-container .schedule-button:focus {
    background-color: var(--light-green);
    outline: 2px solid var(--dark);
}

@media(max-width: 375px) {
    #testimonials .container .text h2 {
        font-size: 2rem;
    }

    #testimonials .container .schedule-container {
        padding: 4rem 1rem;
    }

    #testimonials .container .schedule-container h2 {
        font-size: 1.5rem;
    }

    #testimonials .container .schedule-container .schedule-button {
        padding: 0.875rem 0.875rem;
        font-size: 1.25rem;
    }
}

@media(min-width: 768px) {
    #testimonials .container .text h2 {
        width: 35rem;
    }

    .swiper {
        margin: 0 5rem;
    }
    
    #testimonials .container .brands {
        margin: 5rem 8rem 0 8rem;
    }

    #testimonials .container .schedule-container {
        bottom: -24rem;
        left: 5rem;
        right: 5rem;
    }
}

@media(min-width: 1024px) {
    .swiper {
        margin: 0 3rem;
    }

    #testimonials .container .brands {
        margin: 5rem 15rem 0 15rem;
    }

    #testimonials .container .brands h4 {
        width: 100%;
    }

    /* #testimonials .container .brands .brands-img {
        display: grid;
        gap: 2rem;
        justify-content: center;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            'face google aple'
            'linked rocket a';
    }

    #testimonials .container .brands .brands-img img:first-of-type {
        grid-area: face;
    }

    #testimonials .container .brands .brands-img img:nth-of-type(2) {
        grid-area: google;
    }

    #testimonials .container .brands .brands-img img:nth-of-type(3) {
        grid-area: aple;
    }

    #testimonials .container .brands .brands-img img:nth-of-type(4) {
        grid-area: linked;
    }

    #testimonials .container .brands .brands-img img:last-of-type {
        grid-area: rocket;
    } */

    #testimonials .container .schedule-container {
        bottom: -22rem;
        left: 8rem;
        right: 8rem;

        display: flex;
        flex-direction: row;
        gap: 0;
        align-items: center;
        justify-content: space-around;
    }

    #testimonials .container .schedule-container h2 {
        width: 45%;
        text-align: left;
    }
}

@media(min-width: 1366px) {
    #testimonials .container .schedule-container h2 {
        width: 25%;
    }
}

@media(min-width: 1500px) {
    #testimonials .container {
        padding: 0 15rem;
    }

    #testimonials .container .schedule-container {
        left: 20rem;
        right: 20rem;
    }
}